body {
	font-family: 'Montserrat', sans-serif;
	background-image: url("../images/bg-picture.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	text-align: center;
	background-position: center;
	background-color: #95baca;
}
h3 {
	font-size: 25px;
}
footer {
	margin-top: 250px;
}
footer a {
	color: black;
}
.container {
	display: block;
	margin: 0 auto;
	margin-top: 100px;
	background: #f0ce53;
	width: 30%;
	padding: 45px 25px;
	border-radius: 25px;
	border: 5px solid #3d57bc;
	color: #3d57bc;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
#guess {
	padding: 10px;
	width: 40%;
	border-radius: 10px;
	border: none;
	font-size: 20px;
}
#btn {
	margin: 10px;
	padding: 10px 30px;
	border-radius: 10px;
	background: #3d57bc;
	color: #f0ce53;
	font-weight: bold;
	font-size: 20px;
	border: none;
}

@media all and (max-width:900px) {
	.container {
		width: 60%;
	}
}
@media all and (max-width:500px) {
	.container {
		width: 80%;
	}
}